# Hardhat
artifacts/
cache_hardhat/
typechain-types/

# Dependencies
node_modules/

# Environment
.env

# Build outputs
dist/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
